*{
    padding:0px;
    margin:0px;
}
.theater{
    background-color: rgb(136, 138, 133);
    text-align: center;
    padding: 15px 30px;
    margin: 10px 15%;
    overflow: auto;
    border-radius: 12px;
}
.seatRow{
    height: 25px;
    padding:25px 5px;
    margin:5px auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seat{
    margin:10px;
    width:30px;
    height:30px;
    border-radius: 8px;
}
.unbooked{
    background-color: rgb(169, 206, 218);
    border: 3px solid rgb(74, 85, 88);

}
.booked{
    background-color :#518A9D;
    border: 3px solid rgb(58, 90, 100);
}
.selected{
    background-color:rgb(23, 157, 197);
    border: 3px solid rgb(110, 221, 255);
}