*{
    padding:0px;
    margin:0px;
}
.modal{
    background-color: rgb(215, 135, 192);
    text-align: center;
    padding: 15px 30px;
    margin: 10px 15%;
    overflow: auto;
}
.seatRow{
    height: 25px;
    padding:5px 5px;
    margin:5px auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seat{
    margin:5px;
    width:20px;
    height:20px;
    border-radius: 9px;
}
.unbooked{
    background-color: rgb(243, 209, 246);
    border: 3px solid rgb(127, 66, 157);
}
.booked{
    background-color: rgb(108, 48, 117);
    border: 3px solid rgb(46, 1, 45);
}